.media-showcase {
  position: relative;
  overflow: hidden;
  width: 100%;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  min-height: 250px;
}

.media-showcase__title {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 2rem;
  margin-top: 2rem;
}

.media-showcase__slider {
  display: flex;
  align-items: center;
}

.media-showcase__button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  padding: 10px;
}

.media-showcase__slides {
  display: flex;
  transition: transform 0.5s ease;
}

.media-card {
  min-width: 100%; /* Adjust this based on how many cards you want visible */
  transition: transform 0.5s ease;
}

.media-card.active {
  opacity: 1;
}

.media-card__logo-container {
  text-align: center;
}

.media-card__logo {
  max-width: 100%;
  height: auto;
}

.media-card__quote {
  text-align: center;
  font-size: 16px;
  margin: 10px 0;
}

.media-card__button {
  display: block;
  margin: 0 auto;
  padding: 10px 20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.media-showcase__images {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
}

.media-showcase__image {
  max-width: 100px;
  height: auto;
  margin: 0 10px;
  transition: transform 0.3s;
}

.media-showcase__image:hover {
  transform: scale(1.1);
} 